################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/OKOnline/.vs/OKOnline/v15
/OKOnline/obj/Debug
/TestingWF/obj/Debug
